*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
#mainContainer{
 display: flex;
 align-items: center;
 align-self: center;
flex-direction: column;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

h1{
  padding: 5vh;
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
}

#sketchBox {
  justify-content: center;
  display: grid;
  grid-gap: 1px;
  grid-template-rows: repeat(var(--grid-rows),5%);
  grid-template-columns: repeat(var(--grid-cols),5%);
}

.grid-item {
  height: 35px;
  width: 35px;
background-color: blanchedalmond;
border:.009em solid black;
  text-align: center;
}
.grid-item:hover{
    background-color: rgb(87, 27, 218);
}

#clear{
  position: relative;
  top: -50px;
    background-color: crimson;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: beige;
    transition: background-color .5s ease-in;
}
#clear:hover{
  opacity: .8;
  background-color: brown;
}
